In [3]:
high_school_types = [{"High School": "Griffin", "Type": "District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wison", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [12]:
high_schools = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Wright High School"]

In [13]:
import pandas as pd

In [14]:
school_series = pd.Series(high_schools)
school_series

0        Huang High School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
4      Griffin High School
5       Wilson High School
6      Cabrera High School
7       Bailey High School
8       Wright High School
dtype: object

In [17]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
school_df = pd.DataFrame(high_school_dicts)
school_df

NameError: name 'high_school_dicts' is not defined

In [18]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [19]:
schools_df = pd.DataFrame()
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4